anndata==0.10.9
captum==0.7.0
datasets==3.0.1
einops==0.8.1
#fsspec==2024.9.0
h5py==3.13.0
ipython==8.21.0
jax==0.6.1
joblib==1.4.2
matplotlib==3.10.3
numpy==1.25.0
ott==0.1.15
ott-jax==0.5.0
packaging==25.0
pandas==2.0.3
peft==0.15.2
phate==1.0.11
pot==0.9.5
pytorch_lightning==2.4.0
Requests==2.32.3
scanpy==1.10.3
scikit_learn==1.6.1
scipy==1.15.3
scprep==1.2.3
seaborn==0.13.2
setuptools==75.8.2
statsmodels==0.14.4
# torch==2.4.1
# torchmetrics==1.7.1
# torchvision==0.19.1
tqdm==4.67.1
transformers==4.45.1
triton==3.0.0
universal-pathlib==0.2.6
wandb==0.19.11
